<head>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<h1>easyShop!!!!!</h1>
<p>Shopping made simple.</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

