<head>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<h1>shopCircuit!!!!!</h1>
<p>A dream to become a millionaire :). Straight from the brains of three lazy minds..</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>

