<! DOCTYPE html >
<html lang = "en-US"
  <head>
    <meta http-equiv="Content Type" content="text/html; charset=utf-8" />
    <title> easyShop!! </title>
  <head>
  <body>
  <header id="page_header">
    <h1> Awesome </h1>
    <nav>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>

    </nav>
  </header>
  </body>
  <footer id="page_footer">
    <p> Its all about Shopping </p>
  </footer>
</html>
